<div class="container catgry-form">
  <form #addForm="ngForm" (ngSubmit)="addclient(addForm.value)">

      <div class="client-detls">
        <div class="row">
    <div class="form-group">
      <div class="col-md-2">
        <label class="control-label">Client Name</label>
      </div>
      <div class="col-md-4">
          <input type="text" name="clientName" placeholder="Client Name" class="form-control catg-input" required
          [(ngModel)]="user.clientName" #productcode="ngModel">
      </div>
      </div>
      <br>
    <div class="form-group">
      <div class="col-md-2">
        <label class="control-label">Client Address</label>
      </div>
      <div class="col-md-4">
        <input type="text" name="address" placeholder="Address" class="form-control catg-input" required
          [(ngModel)]="user.address" #productcode="ngModel">
      </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-2">
          <label class="control-label">Website</label>
        </div>
        <div class="col-md-4">
          <input type="text" name="website" placeholder="Website" class="form-control catg-input" required
            [(ngModel)]="user.website" #productname="ngModel">
        </div>
      </div>
    </div>
  </div>

    <br>


<div class="row">
    <div class="form-group">
      <div class="col-md-2">
        <label class="control-label">Contact Name</label>
      </div>
      <div class="col-md-4">
          <input type="text" name="contactName" placeholder="Website" class="form-control catg-input" required
          [(ngModel)]="user.contactName" #productname="ngModel">
  
      </div>
    </div>
    <br>

    <div class="form-group">
      <div class="col-md-2">
        <label class="control-label">Contact Number</label>
      </div>
      <div class="col-md-4">
        <input type="text" name="contactNo" placeholder="Contact No" class="form-control catg-input"
          required [(ngModel)]="user.contactNo" #productname="ngModel">
      </div>
    </div>
  </div>


  <div  class="row">
    <div class="form-group">
      <div class="col-md-2">
        <label class="control-label">Designation</label>
      </div>
      <div class="col-md-4">
        <input type="text" name="designation" placeholder="Designation" class="form-control catg-input"
          required [(ngModel)]="user.designation" #productname="ngModel">

      </div>
  
  </div>

  <br>
    <div class="form-group">
      <div class="col-md-2">
        <label class="control-label">Current Project Code</label>
      </div>
      <div class="col-md-4">
        <input type="text" name="projectCode" placeholder="Project Code" class="form-control catg-input"
          required [(ngModel)]="user.projectCode" #productname="ngModel">

      </div>
    </div>
  

    <div class="form-group">
      <div class="col-md-2">
        <label class="control-label">Current Project Name</label>
      </div>
      <div class="col-md-4">
        <input type="text" name="projectName" placeholder="Project Name" class="form-control catg-input"
          required [(ngModel)]="user.projectName" #productname="ngModel">

      </div>
    </div>
  </div>


    <div class="row">
      <div class=" col-md-12 text-center">
        <input color="primary" style="margin-left:5%" type="submit" value="Add Client" class="add-btn">
      </div>
    </div>
  </form>
</div>

  <div class="container">
      <mat-form-field class="catg-input-filter">
          <input matInput (keyup)="applyFilter($event.target.value)"  placeholder="Search" >
        </mat-form-field>
    <div>
      <mat-table [dataSource]="dataSource" matSort class="catgry-table">
        <ng-container matColumnDef="clientname">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Client Name </mat-header-cell>
          <mat-cell *matCellDef="let dataSource"> {{dataSource.clientName}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="website">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Website </mat-header-cell>
          <mat-cell *matCellDef="let dataSource"> {{dataSource.website}} </mat-cell>
        </ng-container>



     
        <ng-container matColumnDef="phone">
            <mat-header-cell *matHeaderCellDef mat-sort-header> phone </mat-header-cell>
            <!-- <mat-cell *matCellDef="let viewAvlbltyData"> {{viewAvlbltyData.quantity}}</mat-cell> -->
            <mat-cell *matCellDef="let dataSource"> 
                <span *ngIf="dataSource.clientContacts[0]">
                    {{dataSource.clientContacts[0].contactNo}}
                </span>
                <!-- <span *ngIf="!dataSource.contactNo">
                  NA
                </span> -->
               
            </mat-cell>
          </ng-container>
<!-- 
        <ng-container matColumnDef="phone">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Phone </mat-header-cell>
            <mat-cell *matCellDef="let dataSource"> {{dataSource.clientContacts.contactNo}}
            </mat-cell>
          </ng-container> -->
        <ng-container matColumnDef="contactname">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Contact Name </mat-header-cell>
            <mat-cell *matCellDef="let dataSource"> 
                <span *ngIf="dataSource.clientContacts[0]">
              {{dataSource.clientContacts[0].contactName}}
              </span>
            </mat-cell>
          </ng-container>

        <ng-container matColumnDef="actionsColumn">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Actioncolumns
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button class="editbutton" *ngIf="!row.editing" mat-raised-button color="accent" (click)="clientedit(row.id)"
              [routerLink]="['/clientedit']"> Edit</button>
            <button class="delbutton" mat-raised-button color="warn" (click)="delete(row.id)"> Delete</button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
