<mat-toolbar id="mainToolbar" class="main_nav">
    <button mat-button  class="sidenav-toggle" (click)="toggleSidenav.emit()" id="toolbarMenu">
    <mat-icon>sort</mat-icon>
    </button>

 <span class="example-spacer"></span>

 <mat-icon class="toolbar-icon icon-notf1" matBadge="8" matBadgePosition="after" matBadgeColor="accent"> notifications_none</mat-icon>
 <mat-icon class="toolbar-icon mail_icon header-icons">mail_outline</mat-icon>
 <mat-icon class="toolbar-icon header-icons-input">input</mat-icon>

  </mat-toolbar>
